doctype html
html(lang="en")
    head
        title App
        link(rel='stylesheet', href='style.css')
    body
        div#fpsmeter
        div.container hello


        //script(src="main.js")
        script(src="require.js")
        script(src="require-config.js")
        script(type='text/javascript').
            require(['main'])